@CHARSET "UTF-8";
  div{
	      float:left;
	      margin-left: 30px;
	      margin-right:30px;
	      margin-top: 5px;
	      margin-bottom: 5px;
	   }
	 body{
	  font-size: 15px;
	  line-height: 1.7;
	}
	#current{
	        width: 100%;
            margin:  auto;
            padding: 20px;
	}
	  #menu
	  {
	  position: fixed;
	  width: 98%;
	  margin: auto;
	  }
	   #p1{
	      float:left;
	      margin: 10px;
	   }
	   h1{
	   color:blue;
	   text-align: left;
	   
	   }
	   table
	   {
	     width:100%;
	     height:60px;
	     margin:50 auto;
	     cellpadding: 0; 
	     cellspacing: 0;
	     border: 0;
	   }
	   table tr{
	      margin:0px;
	      font-size:15pt;
	   }
	   table td.td_name
	   {
	      color:blue;
	   }
	   table td.td_city
	   {
	      color:#000;
	   }
	  table td.td_price
	   {
	   font-size: 15pt;
	   color: red;

	   }
	   /* 加入购物车按钮 */
	   #cartbtn
	   {
	   position: absolute;
	   left: 55%;
	   
	   }
	   /*购买数量输入框  */
	   .input-group
	   {
	   position: absolute;
	   left: 35%;
	   width: 200px;
	   height: 30px;
	
	   }
	   .record
	   {
	   position: relative;
	   margin: 50px;
	   
	   }
	    /* 登录按钮 */
	   #denglu
	   {
	   margin-left: 450px;
	   margin-right: 10px; 
	   margin-top: 10px;
	     
	   }
	   /* 注册按钮 */
	   #zhuce
	   {
	   margin-top:10px;
	   } 
	    #nav
	   {
	    left: 50px;
	   }
	.footer 
	{
	 width: 100%;
	 height: 150px;
	 background-color: #1E1C1B;
	
	}
	.footer ul
	{
	margin-left: 350px;
	}
	.footer li
	{
	float: left;
	}
	.footer li a
	{
	 display: block;
            margin: 5px 0;
            font-size: 20px;
           /*  font-weight: bold; */
            color:white;
            width: 130px;
            height: 50px;
            border-radius: 10px;
           /*  text-shadow: 2px 2px 0 #ccc; */
            line-height: 50px;
            text-decoration: none;
            text-align: center;
	
	}
  .messagename
  {
	font-size: 10px;
	
	}